@import url("menu.css");
@import url("footer.css");
/*
  Projeto Final de LM - 2019.2
  Equipe:
          Amarildo - 20192370028
          Micael - 20192370029
  Desenvolvimento de um site para a Liga Pessoense de Basquete.
*/


#main .mainHeader,  .rodape{
  box-shadow: 2px 2px 5px black;
  margin: 5px 1px 1px;
  padding: 2px;
  background: rgba(34, 163, 223, .8);
  border-radius: 2%;
} 

body{
  background-image: none;
}


table{
  box-shadow: 2px 2px 5px black;
  border: 1px solid black;
  border-collapse: collapse;
 width:100%;
 font-size: 90%;
}

table td{
border: 1px solid black;
text-align: center;
}

table th{
  padding: 10px;
  border: 1px solid black;
  background: #99cc33;
  text-align: center;
}

tr:nth-child(3){
  background: rgba(153, 204, 51, 0.4);
}

tr:nth-child(5){
  background: rgba(153, 204, 51, 0.4);
}

.nao-mobile{
  display: none;
}


@media screen and (min-width:768px){

  .mobile{
    display: none;
  }

  .nao-mobile{
    display: unset;
  }

}


@media screen and (min-width: 1200px){


  h1{
    text-align: center;
  }

  .x{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

