@import url("menu.css");
@import url("footer.css");
/*
  Projeto Final de LM - 2019.2
  Equipe:
          Amarildo - 20192370028
          Micael - 20192370029
  Desenvolvimento de um site para a Liga Pessoense de Basquete.
*/
body{
  background-image: none;
}

.galerias{
  display: flex;
}